.footer-main{
    width: 100%;
    color:rgba(255, 255, 255, 0.30);
    font-family: 'Segoe-UI', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    height: 4rem;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(0, 0, 0, 0.10);
}